#Basic functions for layering colors. t=top and b=bottom color
#       self.blendingModes  = {
#           'top'       : (lambda t, b: t ),
#           'bottom'    : (lambda t, b: b ),
#           'add'       : (lambda t, b: t + b ),
#           'subtract'  : (lambda t, b: (b - t) * (b - t > 0)),
#           'subtract_b': (lambda t, b: (t - b) * (t - b > 0)),
#           'difference': (lambda t, b: (t - b) * (t > b) + (b - t) * (t <= b)),
#           'average'   : (lambda t, b: 0.5 * (t + b)),
#           'multiply'  : (lambda t, b: t * b),
#           'divide'    : (lambda t, b: t / b if b > 0 else 0 ),
#           'divide_inv': (lambda t, b: b / t if t > 0 else 0 ),
#           'screen'    : (lambda t, b: 1.0 - (1.0-t)*(1.0-b) ),
#           'lighten'   : (lambda t, b: t * (t > b) +  b * (t <= b)),
#           'darken'    : (lambda t, b: t * (t < b) +  b * (t >= b)),
#           'overlay'   : (lambda t, b: \
#                               2.0 * t * b if t > 0.5 else \
#                               1.0 - (2.0 * (1.0-t) * (1.0-b)))
#          }

[neopixel front_button_led]
pin: PB0
chain_count: 1
color_order: GRB


[neopixel neopixel_sticks]
pin: PE13
chain_count: 16
color_order: GRBW


[led_effect chamber_default]
autostart:              true
frame_rate:             24
leds:
    neopixel:neopixel_sticks
endstops:
    z, probe
layers:
    homing        1    0    add        (0, 0, 0, 1.0)
    static        1   0     top        (0, 0, 0, 0.4)


[led_effect status_idle]
autostart:              true
frame_rate:             24
leds:
    neopixel:front_button_led
layers:
    breathing     7   0     add        (0.31, 0.31, 0.18)
    static        1   0     top        (0.06, 0.06, 0.05)


[led_effect front_button_heating_pla]
frame_rate:             24
leds:
    neopixel:front_button_led
heater:                 heater_bed
layers:
    temperature   20 110 add      (0.0,0.0,1.0) 
    strobe        5  3   add      (0.0,0.0,0.5) 
    static        1  1   top      (0.1,0.1,0.1) 



[led_effect front_button_heating_abs]
frame_rate:             24
leds:
    neopixel:front_button_led
heater:                 heater_bed
layers:
    temperature   20 110 add      (1.0,0.0,0.0) 
    strobe        5  3   add      (0.5,0.0,0.0) 
    static        1  1   top      (0.1,0.1,0.1) 


[led_effect front_button_printing_pla]
frame_rate:             24
leds:
    neopixel:front_button_led
heater:                 heater_bed
layers:
    static        1  1   top      (0.0,0.0,1.0) 


[led_effect front_button_printing_abs]
frame_rate:             24
leds:
    neopixel:front_button_led
heater:                 heater_bed
layers:
    static        1  1   top      (1.0,0.0,0.0)


[gcode_macro TEST_HEATING_PLA]
gcode:
    SET_LED_EFFECT EFFECT=status_idle STOP=1
    SET_LED_EFFECT EFFECT=test_heating_pla


[gcode_macro TEST_HEATING_ABS]
gcode:
    SET_LED_EFFECT EFFECT=status_idle STOP=1
    SET_LED_EFFECT EFFECT=test_heating_abs


[gcode_macro TEST_PRINTING_PLA]
gcode:
    SET_LED_EFFECT EFFECT=status_idle STOP=1
    SET_LED_EFFECT EFFECT=test_printing_pla


[gcode_macro TEST_PRINTING_ABS]
gcode:
    SET_LED_EFFECT EFFECT=status_idle STOP=1
    SET_LED_EFFECT EFFECT=test_printing_abs


[gcode_macro TEST_LED_RESET]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=status_idle
    SET_LED_EFFECT EFFECT=chamber_default


[led_effect test_heating_pla]
frame_rate:             24
leds:
    neopixel:front_button_led
heater:                 heater_bed
layers:
    #heater       20  60   top         (0.06, 0.06, 0.05), (0.06, 0.06, 0.8)
    linearfade    3   0    add         (0.0, 0.0, 0.0), (0, 0, 0.6)
    static        1   0    top         (0.37, 0.37, 0.23)


[led_effect test_heating_abs]
frame_rate:             24
leds:
    neopixel:front_button_led
heater:                 heater_bed
layers:
    strobe        1   1    add         (0.5, 0.2, 0.1)
    linearfade    3   0    top         (0.8, 0.2, 0.0), (0.8, 0, 0)
    #heater        40  0    top         (0.8, 0.2, 0.0), (0.8, 0, 0), (0.8, 0, 0)


[led_effect test_printing_pla]
frame_rate:             24
leds:
    neopixel:front_button_led
heater:                 heater_bed
layers:
    linearfade    3   0    top         (0, 0, 0.6), (0.2, 0.2, 0.6)
    #heater        40  0    top         (0.8, 0.0, 0.0), (0, 0, 0.6), (0, 0, 0.6)


[led_effect test_printing_abs]
frame_rate:             24
leds:
    neopixel:front_button_led
heater:                 heater_bed
layers:    
    linearfade    3   0    top         (0.8, 0, 0), (0.8, 0.2, 0.2)
    #heater        40  0    top         (0.8, 0.2, 0.0), (0.8, 0, 0), (0.8, 0, 0)